@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Header Section*/
header{
    max-width: 1600px;
    margin: 0 auto;
   
}
.logo{
    font-size: 2.2rem;
    font-weight: 700;
    margin-left: 200px;
    margin-top: 15px;
    margin-bottom: 15px;
    
}
.nav-bar{
    background-color: #1A0B2E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    

    
}
.nav-links {
    display: flex;
    list-style: none;
    gap: 32px;
    color: #FFFFFF;
}
.nav-links a{
    text-decoration: none;
    font-size: 1rem;
     color: #FFFFFF;
}
.subscribe{
    gap: 314px;
    margin-right: 200px;
    width: 135px;
    height: 44px;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 24px;
    margin-bottom: 24px;
    padding: 16px;
    border:none transparent;
    border-radius: 20px;
    background: linear-gradient(90deg, #ff7a18, #ff2df7);
    position: relative;
    color: #FFFFFF;

   
}
/*banner section*/
.banner-section{
    max-width: 1600px;
    height: 760px;
    margin: 0 auto;
    background-image: url(./assets/hero-bg.png);
    
    
}
.bg-image{
    margin: 0 auto;

align-items: center;
margin-left: 620px;
margin-right: 525px;
margin-bottom: 101px;
display: flex;
position: relative;
top: 10%;

}
.microphone{
    position: absolute;
    left: 25%;
 
 
}
.sec-container{
    margin-left: 525px;
    margin-right: 525px;
    margin-bottom: 101px;
    align-items: center;
    justify-items: center;

}
.ht-sec{
    font-size: 5rem;
    color: #FFFFFF;
    font-weight:900 ;
    
}
.ht-p{
    font-size: 1rem;
    color: #FFFFFF;
    text-align: center;
   padding: 24px;
   opacity: 80%;
   text-wrap-mode: nowrap;
   
    
}
.btn-01{
    display: flex;
    gap:3px

}
.spotify{
    font-size: 1rem;
    font-weight: 600;
    color: #FFFFFF;
    width: 200px;
    height: 44px;
    border-radius: 15px;
     background: linear-gradient(90deg, #ff7a18, #ff2df7);
    text-align: center;
     

}
.subs{
    font-size: 1rem;
    font-weight: 600;
    color: #FFFFFF;
    width: 147px;
    height: 44px;
    border-radius: 15px;
     background-color: transparent;
     border: .5px solid #00FF88;
     color: #00FF88;
   
}
.spotify img{
    width: 16px;
    height: 16px;
}
.subs img{
    width: 17px;
    height: 13px;

}