@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
body{
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Header Section*/
.header{
   
    margin: 0 auto;
    background-color: #1A0B2E;
   
}
.logo{
    font-size: 2.2rem;
    font-weight: 700;

    margin-top: 15px;
    margin-bottom: 15px;
    
}
.nav-bar{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
    min-height: 92px;
    flex-wrap: wrap-reverse;
    
    

    
}
.nav-links {
    display: flex;
    list-style: none;
    gap: 32px;
    color: #FFFFFF;
}
.nav-links a{
    text-decoration: none;
    font-size: 1rem;
     color: #FFFFFF;
}
.subscribe{
    width: 135px;
    height: 44px;
    font-size: 1rem;
    font-weight: 600;
    padding: auto;
    background-image: linear-gradient(to right, #F7E93F 0%, #FB09B4 51%, #9100F8 100% );
   color: #FFFFFF;
   border-radius: 20px;
}
/*banner section*/
.banner-section{
    
   min-height: 760px;
    background-image: url(./assets/hero-bg.png);
    background-position: center;
    background-size:cover ;
    background-repeat: no-repeat;
    
    
    
    
    
}
.bg-image{
   position: relative;
  width: 100%;
  max-width: 400px;   
  margin: 0 auto;    
  top: 40px;
  height:50%;
  display: flex;
justify-content: end;
  
}
.new{

background-color: #00FF88;
font-size: 18px;
color: #1A0B2E;
position: absolute;
border-radius: 8px;
right: 0;
top:0 ;
padding: 0px;





}



/*.herro {

    width: 100%;
} */



.microphone{
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;                
  max-width: 120px;
 
}
.sec-container{
    
    margin-bottom: 101px;
    align-items: center;
    justify-items: center;
    margin-top: 50px;

}
.ht-sec{
    font-size: 5rem;
    color: #FFFFFF;
    font-weight:900 ;
    
    
}
.ht-p{
    font-size: 1rem;
    color: #FFFFFF;
    text-align: center;
   padding: 24px;
   opacity: 80%;
   
   
    
}
.btn-01{
    display: flex;
    gap:3px

}
.spotify{
    font-size: 1rem;
    font-weight: 600;
    color: #FFFFFF;
    width: 200px;
    height: 44px;
    border-radius: 15px;
     background: linear-gradient(90deg, #ff7a18, #ff2df7);
    text-align: center;
     

}
.subs{
    font-size: 1rem;
    font-weight: 600;
    color: #FFFFFF;
    width: 147px;
    height: 44px;
    border-radius: 15px;
     background-color: transparent;
     border: .5px solid #00FF88;
     color: #00FF88;
   
}
.spotify img{
    width: 16px;
    height: 16px;
    
}
.subs img{
    width: 17px;
    height: 13px;
    max-width: 100%;

}
.hamburger-menu{
    padding-right: 20px;
    display: none;
   
}
.about{
    background-color: #1A0B2E;
    margin: 0 auto;

}
.about-title{
    font-size: 2.5rem;
    color: #FFFFFF;
    font-weight: 800;
    text-align: center;
    padding: 20px;
}
.about-p{font-size: .7rem ; color: #FFFFFF; opacity: 80%;
    padding: 0;
    text-align: center;
}
.card-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
    justify-content: center;
    margin-top: 160px;
    
}


.card-container>div>h2{
    color: #00FF88;
    font-size: 3rem;
    text-align: center;

}
.card-container>div p{
    font-size: .9rem;
    opacity: 80%;
    color: #FFFFFF;
    padding: 4px;
    text-align: center;

}

/* choose section*/
.choose-section{
background-color: #230E3D;

margin: 0 auto;
padding-top: 120px;
}






.choose-title{
font-size: 3rem;
font-weight: 700;
color: #FFFFFF;
text-align: center;


}
.choose-card-container{
    display: flex;
    justify-content: center;
    margin-top: 40px;
   
}
.ch-heading{
    font-size: 1.2rem;
    color: #FFFFFF;
    font-weight: 700;

}
.ch-p{
    font-size: 1rem;
    color: #FFFFFF;
    padding: 10px;
    opacity: 60%;
}


.ch-1{
    grid-row: span 2;
    grid-column: span 1;
    background-color: rgba(53, 17, 101, 0.4);
    padding: 40px 40px;
    border-radius: 40px;
}
.ch-2{
    grid-row: span 1;
    grid-column: span 2;
    padding: 40px 40px;
     background-color: rgba(53, 17, 101, 0.4);
     border-radius: 40px;
}
.ch-3{
    grid-row: span 1;
    grid-column: span 2;
    padding: 40px 40px;
     background-color: rgba(53, 17, 101, 0.4);
      border-radius: 40px;
}


.ch-4{
    grid-row: span 1;
    grid-column: span 2;
    padding: 40px 40px;
     background-color: rgba(53, 17, 101, 0.4);
      border-radius: 40px;
}


.ch-5{
    grid-row: span 1;
    grid-column: span 1;
    padding: 40px 40px;
     background-color: rgba(53, 17, 101, 0.4);
      border-radius: 40px;
}


.cd-container{
   display: grid;
    grid-template-columns: repeat(3, 1fr);
     grid-auto-rows: minmax(190px, auto);
    gap: 30px;
     grid-auto-flow: dense;
     max-width: 1200px;
     width: 100%;
     padding: 30px;
}
   

.feature-section{
    margin: 0 auto;
    padding-top: 120px;
    background-color: #1A0B2E;
}


.feature-title{
    font-size: 2.5rem;
    font-family: 700;
    color: #FFFFFF;
    text-align: center;
    padding: 40px;
}




.display-flex{
    display: flex;
    gap: 3px;
}
.video-container{
    display: flex;
    justify-content:center;
    align-items: center;

    

    
}
.choose-title{
    padding-top: 120px;
}



.meet-container{
    margin: auto;
    background-color: #1A0B2E;
    padding: 40px 40px;
    
}

.image-p-container{
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}


.social-icon-container{
    display: flex;
    gap: 8px;
    padding-top: 16px;
    
}

.footer-section{

    background-image: url(./assets/footer-bg.png);
    min-height: 412px;
   /* max-width: 1600px; */
    width: 100%;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover ;
  
     
}
    

.footer-logo{
    
    justify-self: center; 
    
    
}
.social-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    
}
.footer-p{
    font-size: 1rem;
    opacity: 60%;
    color: #FFFFFF;
    align-self: center;
    justify-items: center;
    padding-top: 32px;
}

.footer-container{
    padding-top: 150px; 
}




/* mobile responsive*/
@media screen and (max-width: 576px){
  .nav-links{
    display: none; }  

  .subscribe{
    display: none;   
  }

  .hamburger-menu{
    display: block;  
    
  }

  .nav-bar{
    padding: 0 16px;
    flex-wrap: nowrap;
  }
.logo{
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;

    
    margin-bottom: 15px;}

.bg-image{position: relative;
  max-width: 260px;
  margin: 0 auto;
  top: 40px;

}
.microphone{
    width: 30%;
  max-width: 90px;
}
.banner-section{
    
  min-height: auto;
  padding-bottom: 50px;
    

}
.sec-container{
    
    margin-top: 80px;
  margin-bottom: 0;
  text-align: center;
    
}
.ht-sec{ font-size: 2rem;
    font-size: 2.2rem;
    

}




.card-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;}
   


}
.cd-container{
    flex-direction: column;
    grid-template-columns: repeat(1 , 1fr);
}
 
    
 

.ch-1,
  .ch-2,
  .ch-3,
  .ch-4,
  .ch-5{ grid-column: span 1;
      grid-row: span 1;}


.cd-container > div{
      text-align: center;}

.video-container{
  flex-direction: column;
  gap: 24px;
}
iframe{
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
}



}




















